[submodule "home/.vim/bundle/a"]
	path = home/.janus/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "home/.vim/vim-plug"]
	path = home/.vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
