# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
# Quit automatically if less than one page
export MANPAGER="less -X -F"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
