# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
# Quit automatically if less than one page
export MANPAGER="less -X -F"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Allow custom programs in ~/bin and ~/.bin
# bin isn't tracked by homesick, so it can be used for local stuff.
# .bin is tracked.
PATH=~/bin:~/.bin:~/.local/bin:$PATH
PATH=$PATH:$HOME/.rvm/bin
PATH=$PATH:$HOME/.cabal/bin

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"
